@page "/chats/{id}"

@using BlazorChat.Client.Requests.Messages

@inject MessagesApi api
@inject NavigationManager Navigation
@implements IAsyncDisposable

<AuthorizeView>
    <Authorized>
        <h3>ChatRoom @ChatHub.CurrentChatRoom?.Name</h3>

        <div class="message-list-container">
            <div></div>
            @foreach (var message in ChatHub.Messages)
            {
                <div class="message-container">
                    <span style="width:100%;font-weight: bold;">@message.SenderName</span>
                    <p>@message.Text</p>
                    <span class="time-right">@message.CreatedAt</span>
                </div>
            }
        </div>

        <EditForm Model="@Message" OnValidSubmit="@Send" class="message-input-form">
            <ChildContent Context="EditContext">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="form-group col">
                        <InputText DisplayName="Text" id="text" @bind-Value="Message.Text" class="form-control" />
                    </div>
                    <div class="col-1">
                        <input type="submit" class="btn btn-primary" style="float:right" value="Send" />
                    </div>
                </div>
            </ChildContent>
        </EditForm>
    </Authorized>
</AuthorizeView>
